<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="image-preview">
    <% if transaction.uploads.attached? %>
      <%= image_tag transaction.uploads, size: "200x200", class: "image-saved" %>
    <% end %>
    <%= form.file_field :uploads, disable_plugin: true, multiple: true, class: "image-upload" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.select(:transaction_type, options_for_enum(transaction, :transaction_type)) %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_select :due_date %>
  </div>

  <div class="field">
    <%= form.select :category_id, @categories %>
  </div>

  <div class="field">
    <%= form.label :payday %>
    <%= form.date_select :payday %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
